.left-out {
  animation-name: left-out;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
@keyframes left-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.right-in {
  animation-name: right-in;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
@keyframes right-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
