// color class
.text-red {
  color: $red !important;
}
.text-green {
  color: $green !important;
}

.hide::after,
.hide::before,
.hide {
  visibility: hidden;
  opacity: 0;
}

.primary-button {
  @include button-primary;
}
