$white: #eee;
$black: #050505;

$red: #ed6a5a;
$green: #aaf7a2;
$pink: #ff70b8;

$grey: #2f2e33;
$light-grey: #525059;
$dark-grey: #1e1e1e;

$primary-color: #78c3fb;
$secondary-color: $green;
$ternary-color: #ff70b8;
