$white: #eee;
$black: #050505;
$grey: #2f2e33;
$light-grey: #525059;
$dark-grey: #1e1e1e;

$red: #ed6a5a;
$green: #aaf7a2;
$pink: #ff70b8;
$gold: #eba420;
$light-blue: #78c3fb;
$blue: #5778e6;

$primary-color: $light-blue;
$secondary-color: $green;
$ternary-color: $pink;
