// import
@import './sass-utils/variables.scss';
@import './sass-utils/mixins.scss';
@import './sass-utils/functions.scss';

@import './sass-utils/normalize.scss';

@import './sass-utils/class';
@import './components/annimations.scss';
@import './components/spinner.scss';

// bug avec une iframe chelou
iframe {
  height: 0;
  width: 0;
  visibility: hidden;
  z-index: -1;
  position: fixed;
}

// App styles
#root {
  position: relative;
}
.App {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.room-page {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.room-container {
  display: flex;
  flex-direction: column;
}
