@import './sass-utils/variables.scss';
@import './sass-utils/mixins.scss';

.joinCreateRoom-container {
  @include container-box-shadow;
  position: relative;
  width: 12rem;
  height: 16rem;
  overflow: hidden;
  & > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }
  span {
    @include title;
  }
  button {
    @include button-primary;
  }
}

.maxplayers-container {
  position: relative;
  .spin-btn-up,
  .spin-btn-down {
    position: absolute;
    right: -0.5rem;
    --spin-btn-position: calc(50% - 0.15rem);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    color: $white;
    transition: all 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
      color: $primary-color;
    }
  }
  .spin-btn-up {
    bottom: var(--spin-btn-position);
  }
  .spin-btn-down {
    top: var(--spin-btn-position);
  }
}

.joinCreateRoom,
.choiceName {
  position: relative;
  width: 100%;
  height: 100%;
}
.joinCreateRoom {
  .checkbox-private {
    position: relative;
    label {
      font-size: 1.2rem;
      font-weight: bold;
    }
    input[type='checkbox'] {
      margin-right: 0.5rem;
    }
    // annimation for checkbox
    input[type='checkbox'],
    label {
      position: relative;
      top: 0.5rem;
      transition: all 0.3s ease-in-out;
    }
    input[type='checkbox']:checked,
    input[type='checkbox']:checked + label {
      top: 0rem;
    }
  }
  .password-input {
    position: relative;
    i {
      transition: all 0.2s ease-in-out;
      position: absolute;
      right: 0;
      z-index: 1;
      &:hover {
        cursor: pointer;
        color: $primary-color;
      }
    }
  }
}

.choiceName {
  span {
    margin-bottom: 2rem;
  }
  input {
    margin-bottom: auto;
  }
}

.errorScreen {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: bold;
  color: $red;
  span {
    text-align: center;
    color: $red;
  }
  button {
    i {
      font-size: 1em;
      color: inherit;
    }
  }
  i {
    font-size: 3rem;
    color: $red;
  }
}
