@import './sass-utils/variables.scss';
@import './sass-utils/mixins.scss';

.room-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.room-page-container > .room-hub {
  @include container-box-shadow;
  position: relative;
  max-width: calc(100% - 8rem);
  width: 24rem;
  height: calc(100% - 8rem);
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  transition: all 0.25s ease-in-out;
  background-color: $grey;
  z-index: 1;

  &.inGame {
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    margin-left: 0%;
    margin-right: 0%;
    position: absolute;
    left: 0%;
    width: 18rem;
    height: calc(100% - 12rem);
    transform: translateX(calc(-100% + 2rem));
    &:hover {
      transform: translateX(0);
    }
  }

  .return-btn {
    position: absolute;
    transition: all 0.2s ease-in-out;
    top: 2rem;
    left: 2rem;
    font-size: 2rem;
    &:hover {
      color: $red;
    }
  }
  .room-id {
    @include title;
    font-size: 2rem;
    margin: 1rem auto;
  }
  .room-start-btn,
  .room-ready-btn {
    @include button-primary;
    transition: all 0.2s ease-in-out;
    width: 12rem;
    white-space: nowrap;
    margin: 1rem auto;
    margin-top: auto;
    display: inline-flex;
    i {
      margin-left: auto;
    }
  }
  .room-start-btn {
    background-color: $green;
    color: $black;
  }
  .room-players {
    margin: 0 auto;
    width: 15rem;
    li {
      margin-bottom: 0.5rem;
      padding: 1rem;
      position: relative;
      width: 100%;
      display: inline-flex;
      font-size: 1.25rem;
      .player-name {
        &.client-name {
          font-style: italic;
          color: $primary-color;
        }
      }
      .player-ready {
        margin-left: auto;
      }
      .player-kick,
      .player-owner {
        position: absolute;
        left: -2rem;
        color: $gold;
      }
      &:hover .player-kick {
        transform: translateX(0);
        opacity: 1;
      }
      .fa-signal.signal-slash {
        position: relative;
        font-size: 0.8rem;
        margin: 0.45rem;
        &::after {
          content: ' ';
          display: block;
          width: 120%;
          height: 0.15rem;
          background-color: $red;
          position: absolute;
          top: 50%;
          transform: rotate(45deg);
        }
      }
      .player-kick {
        color: $red;
        transition: all 0.2s ease-in-out;
        transform: translateX(3rem);
        opacity: 0;
        width: 3rem;
        height: 1.5rem;
        &:hover {
          cursor: pointer;
        }
      }

      @include bottom-line;
      &:last-of-type::after {
        content: none;
      }
    }
  }
  .waiting-dots {
    display: inline-flex;
    align-items: center;
    position: relative;
    left: 0.25rem;
    *[class^='dot'] {
      display: block;
      width: 0.33rem;
      height: 0.33rem;
      border-radius: 50%;
      background-color: $white;
      margin: 0 0.15rem;
    }
    .dot-1 {
      animation: dot-animation 1s infinite;
    }
    .dot-2 {
      animation: dot-animation 1s 0.2s infinite;
    }
    .dot-3 {
      animation: dot-animation 1s 0.4s infinite;
    }
    @keyframes dot-animation {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.5);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}

/*# sourceMappingURL=room.css.map */
